@font-face{
	font-family:"Monaco";
	src: url(fonts/Monaco.ttf);
}	
body{
	background: #222;
	font-family:"Monaco", sans-serif;
}
header{
	height: 100vh;
}
.main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:  center;
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 60px;
	background: #191919;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}
.main-title{
	font-size: 40px;
	margin-bottom: 50px;
	color:#3df487;
	
	text-align: center;
}
.logo{
	display: flex;
	justify-content: center;
}
.description{
	font-size: 25px;
	color:#d7d7d7;
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
}

.button{
	width:300px;
	height: 80px;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	font-size: 30px;
	background-color:#252525;
	border: none;
	cursor: pointer;
	color:#d7d7d7;
	transition: 0.2s ease-out 0.1s

}
.button:hover{
	color:#3df487;
	background-color: #202020;
	box-shadow: 0px 0px 5px 0px rgba(19, 19, 19, 1);

}
.buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px; 
	margin-top: 80px;
}
.button-contact{
	margin-left: 30px;
}

/*-------------- portfolio section---------------*/
.portfolio-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
}
.portfolio-link{
	margin-right: 15px;
}
.portfolio-link:last-child{
	margin-right: 0;
}
.title{
	font-size: 35px;
	text-align: center;
	margin-bottom: 30px;
	color:#d7d7d7;
}

/*-------------- portfolio section finish---------------*/

.links-container{
	list-style: none;
	display: flex;

}
.links-container--item{
	font-size: 25px;
	color:#d7d7d7;
	transition: 0.2s ease-out 0.1s

}
.links-container--item:hover{
	color:#3df487;
}
a{
	text-decoration: none;
	color:#fff;
	cursor: pointer;
	margin-right: 30px;
	transition: 0.2s ease-out 0.1s
}
a:hover{
	color:#3df487;
}
@media (min-width: 320px) and (max-width: 730px) {
	.description{
		padding-right: 0;
		padding-left: 0;
	}
	header{
		height: auto;
	}
	.buttons{
		flex-direction: column;
		align-items: center;
	}
	.button-contact{
	margin-left:0;
	margin-top: 40px;
	}
	.portfolio-link{
		margin-bottom: 13px;
	}
}
