/*==========Montserrat===========*/

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
	src: local('Montserrat'), local('Montserrat'),
  url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/*==========Rubik===========*/

@font-face {
  font-family: 'Rubik-Italic';
  src: url('../fonts/Rubik/Rubik-Italic.ttf')  format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/Rubik/Rubik-Light.ttf')  format('truetype');
  font-style:normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik/Rubik-Regular.ttf')  format('truetype');
  font-style:normal;
  font-weight: 400;
}
