/*======Web fonts=======*/
@import url('fonts.css');

/*=======Utility staff=======*/
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
*{
	margin: 0;
	padding: 0;
}
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.container{
	max-width:1200px;
	margin: 0 auto;
	padding:0 15px;
}
.section-box{
	padding-bottom: 35px;
}
/*=======Buttons=======*/
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
	margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;

   -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
   border-radius: 3px;
}
.btn{
	display:inline-block;
	width:200px;
	border-radius: 20px;
	padding: 10px 20px;
	text-align: center;
}

/*================================================================================
===============================HEADER START======================================*/

header{
	background: #fcfcfc;
}


/*==========================TOP-MENU START===============================*/
.navigation{
	background: #302d57;
	min-height: 36px;
	color:#fff;
	 font-family: 'PF Agora Sans Pro';
}
.navigation ul{
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.navigation-item{
	margin-right: 50px;
}
.navigation-item:first-child{
	margin-left: 160px;
}
.navigation-item:last-child{
	margin-right: 0;
}
.navigation-item a{
	color:#fff;
	transition: 0.2s ease-in-out;
}
.navigation-item a:hover{
	color:#f97c4e;
	
}


/*=======Main-menu social links container START=======*/
.social-links{
	display: flex;
}
.social-links-item{
	display: flex;
	justify-content: center;
	align-items: center;
	width:20px;
	height:20px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	background: #24262a;
	margin-right: 12px;
	transition: all 0.3s ease-in-out;
	color:#fff;
}
.social-links-item:last-child{
	margin-right: 0;	
}
.social-links-item:hover{
	;
	background: #f97c4e;
}
.social-links .social-links-item img{
	width:10px;
	height: 10px;
}
/*=======Main-menu social links container FINISH=======*/



/*=======main-menu circle-phone sections START=======*/
.right-left-bordered{
	display: flex;
	align-items: center;
	padding: 0 60px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.phone-circle{
	display: flex;
	justify-content: center;
	align-items: center;
	width:15px;
	height: 15px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
   	-webkit-box-sizing: border-box;
	border: 1px solid #fff;
	margin-right: 10px;
}
.phone-circle img{
	width:15px;
	height: 15px;
}
/*=======main-menu circle-phone section FINISH=======*/



/*=======main-menu sign/registration sections START=======*/
.sign-link-border{
	border-bottom: 1px solid #fff;
}
/*=======main-menu sign/registration sections FINISH=======*/



/*==========================TOP-MENU FINISH===============================*/



/*==========================MAIN-MENU START===============================*/


/*=======header-top START=======*/
.header-top{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 30px;
	justify-content: space-between;
}
.header-top form{
	display: flex;

}
.header-top .search{
	width:545px;
	height: 40px;
	border: 1px solid #c2c2c2;
	border-right: none;
	padding-left: 10px;
}
.search-button{
	width:60px;
	height: 40px;
	border: 1px solid #c2c2c2;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	background: transparent;
	cursor: pointer;
	padding-top: 3px;
	margin-bottom: 0;
}
.search-button svg{
	fill:#fff;
	width:15px;
	height: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #302d57;
	padding:8px 17px;
	transition: all 0.2s ease-in-out;
}
.search-button svg:hover{
	background: #f97c4e
}

.select-wrapper {
	position: relative;
	width: 190px;
	border: 1px solid #676767;
	border-radius: 13px;
	
}
.select-wrapper select{
	font-family: 'PF Agora Sans Pro';
	font-size: 16px;
	color:#676767;
}
.select-arrow img{
    position: absolute;
  	top:45%;
  	right: 20px;
  	transform: translate(-50%, -50%);
}
	

.select-wrapper:hover {
  box-shadow: 0px 0px 3px gray;
}

.select-wrapper select {
  width: 190px;
  height: 40px;
  padding: 0 20px 0 25px;
  background: transparent;
  border: 0;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
}
.select-wrapper select::-ms-expand{
    display: none;             /* remove arrow IE     */
}
/*=======header-top FINISH=======*/
.main-navigation ul{
	display: flex;
	justify-content: space-between;
	
}
.main-navigation--item a{
	display: block;
	padding: 26px;
	color:#676767;
	font-size: 21px;
	font-family: 'Crimson Text';
	font-weight: 600;
	position: relative;

}
.main-navigation--item a:hover{
	color:#302d57;  
}
.main-navigation--item a:hover::after{
	position: absolute;
	content: "";
	bottom: -3px;
	left:0;
	width:100%;
	border-bottom: 3px solid #f97c4e; 
	transition: 0.3s ease-in-out; 	
}
.header-bottom-line{
	border-bottom: 3px solid #e7e7e7;
}
.main-navigation-user-coupon {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.main-navigation-user-coupon a{
	display: flex;
	font-size: 14px;
	color:#676767;
	transition: 0.3s ease-in-out; 
	margin-right: 20px;
}
.main-navigation-user-coupon a:last-child{
	margin-right: 0;
}
.main-navigation-user-coupon span{
	display: block;
	margin-left: 15px;
}
.main-navigation-user-coupon a:hover{
	color:#302d57
}
.main-navigation-user-coupon img{
	width:15px;
	height: 15px;
}

/*==========================MAIN-MENU FINISH===============================*/


/*==========================BOTTOM-MENU START===============================*/
.blue-bg{
	background: #3b4059;
}
.bottom-navigation > ul{
	display: flex;

}
.bottom-navigation ul > .bottom-navigation--item{
	position: relative;
}
.bottom-navigation ul > .bottom-navigation--item > a{
	display: block;
	color:#fff;
	font-family: 'Geometria';
	font-size: 16px;
	padding: 15px 17px;
}
.bottom-navigation ul > .bottom-navigation--item > a:hover{
	background: #e67348;
}
/*sub menu*/
.bottom-navigation ul > .bottom-navigation--item:hover > ul{
	display: block;
}
.bottom-navigation .bottom-navigation--item > ul{
	position:  absolute;
	z-index: 999;
	background: #3b4059;
	color:#fff;
	min-width: 200px;
	display: none;
}
.bottom-navigation .bottom-navigation--item > ul > li > a{
	display: block;
	color:#fff;
	font-family: 'Geometria';
	font-size: 16px;
	padding: 15px 17px;
	margin: 0 auto;
	
}
.bottom-navigation .bottom-navigation--item > ul > li > a:hover{
	background: #e67348;
}
/*==========================BOTTOM-MENU FINISH===============================*/


/*================================================================================
===============================HEADER FINISH======================================*/



/*================================================================================
===============================SLIDER BANNER SECTION START=========================*/

/*=============Slider text on imgages START================*/
section.slider{
	background: url(../img/bg.jpg) repeat;
	font-family: 'Crimson Text';
	font-weight: 400;
	color:#fff;
}
section.slider .container{
	padding-top: 35px;	
}
section.slider p{
	position: absolute;
}
section.slider .banner-title{
	font-size: 47px;
	top:15%;
	left:5%;
}
section.slider .banner-sales{
	font-size: 75px;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
}
section.slider .banner-sales-duration{
	font-size: 35px;
	bottom: 5%;
	left:20%;
	border-bottom: 2px solid #fff;
}
.owl-carousel.top-slide .owl-item img{
	width:100%;
}
/*=============Slider text on imgages FINISH================*/

/*================================================================================
===============================SLIDER BANNER SECTION FINISH======================*/


/*============================================================================
===============================SECTION-BOX START=========================*/
.section-box{
	padding-top: 40px;
}
section.new{
	background: url(../img/bg.jpg) repeat;
	padding-top: 40px;
}
.section-box h2{
	display: inline-block;
	font-size: 34px;
	font-family: 'Geometria';
	color: #5a5a5a;
	font-weight: 400;
	margin-right: 20px;
	margin-bottom: 35px;
}
.section-box .copoun-number{
	color: #000;
	font-size: 18px;
	font-family: 'Geometria'; 	
}
.section-box .item-line{
	margin-bottom: 35px;
}
.section-box .item-line a{
	font-size: 16px;
	display: block;
	min-width: 130px;
	color:#000;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right: -160px;
}
.section-box .item-line a:hover{
	color:#ff7f50;
}
.content-block{
	margin: 0 auto;
	background: #fff;
	padding-bottom: 25px;
	max-width: 335px;
	border-radius: 11px;	
 	box-shadow: 3px 3px 0px 0px rgba(212, 212, 212, 0.5);
	-webkit-box-shadow: 3px 3px 0px 0px rgba(212, 212, 212, 0.5);
	-moz-box-shadow: 3px 3px 0px 0px rgba(212, 212, 212, 0.5);
	box-shadow: 3px 3px 0px 0px rgba(212, 212, 212, 0.5);
}
.content-block--sale{
	position: relative;
	top:18px;
}
.content-block--sale img{
	position: absolute;
	bottom: -7px;
	left:-5px;
}
.content-block--sale span{
	position: absolute;
	color:#fff;
	font-size: 33px;
	font-family: 'PF Agora Sans Pro';
	font-weight: 600;
	bottom: 5px;
	left:15px;
}
.owl-carousel .owl-item .content-block .content-block-bg{
	width:100%;
	margin-bottom: 0px;
}
.users-response{
	padding-left: 40%;
	color:#d1d1d1;
	font-size: 16px;
	margin-top: 5px;
}
.owl-carousel .owl-item img{
	width: auto;
}
.owl-carousel .owl-item .users-response img{
	display: inline-block;
}
.owl-carousel .owl-stage-outer{
	padding-bottom: 5px;
}
.users-response span{
	margin-right: 10px;
}
.content-block--description{
	font-family: 'PF Agora Sans Pro';
	font-size: 14px;
	color: #646464;
	margin-bottom: 25px;
	margin-top: 12px;
}
.sale-italic-text{
	display: inline-block;
	color:#ababab;
	font-size: 13px;
	font-family: 'PF Agora Sans Pro';
	font-style: italic;
	margin-right: 5px;
}
.cost-lg{
	font-family: 'PF Agora Sans Pro';
	font-size: 32px;
	color:#000;
}
/*============================================================================
===============================SECTION-BOX FINISH=========================*/



/*============================================================================
===============================SECTION ABOUT US START=========================*/
.about{
	background: #fbfbfb;
	font-family: 'Geometria';
	color:#4c4c4c;
	line-height: 1.3;
	padding-top: 35px;
	padding-bottom: 35px;
}
.about .container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	grid-column-gap: 85px;
	position: relative;
}
.about .container .left-column{
	max-width: 700px;
	font-size: 18px;
}
.left-column .item-title{
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 30px;
}
.item-line{
	width:50px;
	height: 1px;
	background: #7f7f7f;
	position: relative;
	margin-bottom: 25px;
}
.item-line::after{
	content: '';
	position: absolute;
	width:7px;
	height: 7px;
	border-radius: 50%;
	background: #ff7f50;
	top:50%;
	transform: translateY(-50%);
	right: -12px;
}
.left-column .item-text{
	margin-bottom: 30px;
}
.btn-link{
	background: #ff7f50;
	color:#fff;
	transition: ease-in-out 0.3s;
	margin-right: 70px;
}
.btn-link:hover{
background: #302d57;
}
.btn-link-pay{
	border: 1px solid #000;
	color:#000;
	transition: ease-in-out 0.3s;

}
.btn-link-pay:hover{
	background: #302d57;
	color:#fff;
	border-color:#fff;
}
/*.about .container::after{
	content: '';
	position: absolute;
	z-index: 1;
	width:155px;
	height: 425px;
	top:50%;
	left:-155px;
	transform: translateY(-50%);
	background: url(../img/icons/man.png);
	
}*/
/*.about .container::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -225px;
    background: url(../img/icons/women.png);
    width: 220px;
    height: 455px;
    transform: translateY(-50%);
}*/
/*=============Sidebar right column START================*/
.about-sidebar{
	position: absolute;
	top:-55px;
	right: 0;
	max-width:385px;
	background: #f9f9f9;
	border: 1px solid #ff7f50;
	padding: 40px;


}
.about-sidebar h2{
	font-weight: 500;
	text-align: center;
	font-size: 26px;
	margin-bottom: 40px;
}
.about-sidebar .line{
	width: 50px;
	height: 1px;
	background: #7f7f7f;
	margin: 0 auto;
	margin-bottom: 40px;
}
.sidebar-item{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.sidebar-item div{
	position: relative;
}
.sidebar-item:last-child{
	margin-bottom: 0;
}
.sidebar-item img{
	position: relative;
}
.sidebar-item span{
	display: block;
	position: absolute;
	text-align: center;
	top:-12%;
	left:-12%;
	z-index: 2;
	width:20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	font-size: 18px;

}
.sidebar-item p{
	max-width: 200px;
	margin-left: 30px;
	font-size: 18px;
}
/*=============Sidebar right column FINISH================*/

/*============================================================================
===============================SECTION ABOUT US FINISH=========================*/


/*============================================================================
===============================SECTION MOTEL SMALL START=======================*/
section.section-small{
	background: #f9f9f9;
	padding-top: 25px;
}
.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 35px;
}
.section-box .row div h2 {
    display: inline-block;
    font-size: 34px;
    font-family: 'Geometria';
    color: #5a5a5a;
    font-weight: 400;
    margin-right: 20px;
    margin-bottom: 0;
 }   	
.content-block-small .content-block-bg{
	width:220px;
	margin-bottom: 12px;
}
.motel-name{
	color: #717171;
	font-size: 14px;
	font-family: 'Geometria';
}

/*============================================================================
===============================SECTION MOTEL SMALL FINISH=======================*/



/*============================================================================
===============================SECTION WORK START=======================*/



section.work{
	background: url('../img/about-bg.jpg') no-repeat center center/cover;
	padding-top: 35px;
}
.work h2{
	margin-bottom: 50px;
	color: #fff;
	text-align: center;
	font-size: 34px;
	font-family: 'Geometria';
	font-weight: 400;
}
.work-text--description{
	text-align: right;
	font-size: 16px;
	text-decoration: underline;
	color: #fff;
	font-family: 'Geometria';
	padding-bottom: 35px;
}
.work .row{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	min-height: 300px;
	justify-content:center;
}
.work .circle{
	width:125px;
	height: 125px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
} 
.work-item div{
	display: flex;
	align-items: center;
	justify-content: center;

}
.work-item:last-child{
	width:150px;
}
.work-item--text{
	color: #fff;
	padding:16px;
	font-size: 21px;
	font-family: 'Geometria';
}
.work .work-item:nth-child(2n){
	align-self: flex-end;
}
.work .work-item:nth-child(2n+1){
	align-self: flex-start;
}
.circle .small-circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 5px 5px 0px rgba(115, 115, 115, 0.75);
	display:flex;
	justify-content: center;
	align-items: center;
}



.work-item--text{
	font-size: 21px;
}


/*============================================================================
===============================SECTION WORK FINISH=======================*/
section.service{
	padding-top: 65px;
	padding-bottom: 65px;
	color:#4c4c4c;
	font-family: 'Geometria';
}
section.service h2{
	font-size: 18px;
	font-family: 'Geometria';
	font-weight: 600;
	margin-bottom: 25px;
}
section.service p{
	line-height: 1.3;
	font-weight: 500;
}
footer{
	font-family: 'Geometria';
	background: #212433;
	color: #fff;
}
footer .container{
	padding-top: 50px;
}
footer .container .row{
	display: grid;
	align-items: flex-start;
	grid-template-columns: repeat(4, 1fr);
}
.footer-item{
	margin: 0 auto;
}
.contact-phone{
	text-align: center;
	margin-bottom: 15px;
	font-size: 17px;
	font-family: 'Geometria';
	font-weight: 500;
}
.contact-phone-text{
	margin: 0 auto;	
	width:145px;
	color: #646772;
	font-size: 12px;
	margin-bottom: 15px;
}
.footer-btn{
	background: #1b68ff;
	margin: 0 auto;	
}
.footer-btn:hover{
	background: #ff7f50;
}
.footer-item li a{
	padding-bottom: 10px;
	padding-top: 10px;
	color:#fff;
	display: block;

}
.footer-item li a:hover{
	color:#ff7f50;
}
.footer-item li .border{
	border-bottom: 1px solid #2e303e;
}
.footer-line{
	height: 1px;
	background: #2d2f3e;
}
.footer-item img{
	width:20px;
	opacity: 0.3;
}
.footer-social img{
	width:20px;
	margin-left: 12px;
	opacity: 0.7;
}
.footer-social img:hover{
	opacity: 1;
}
.open{
	display: block;
}
.mobile-menu{
	display: none;
}
/*========================================================================
===============================MOBILE MENU START=======================*/
.menu_container{
	text-align: center;
	margin-bottom: 10px;
}
.mobile_menu{
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	line-height: 26px;
	padding: 8px 45px;

	font-family: 'Geometria';
	color: #ffffff;
	background: #1b68ff;
	border-radius: 2px;
	border: none;
	width: auto;
	margin: 0;
	text-decoration: none;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	transition: all 400ms;
}
.mobile_menu:hover{
	background: #ff7f50;
   	cursor: pointer;
}
.mobile_menu_overlay, .mobile_menu_container{
	position: fixed;
	top: 0;
	left: : 0;
	width: 100%;
	height: 100%;
	font-family: 'Geometria';


}
.mobile_menu_container, .mobile_menu_container ul li ul{
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
}
.mobile_menu_overlay{
	display: none;
	cursor: pointer;
	z-index: 10200;
	background: rgba(0, 0, 0, 0.5);
}
.mobile_menu_container{
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	width: 200px;
	overflow: hidden;	
	z-index: 10201;		
	background: #1b68ff;
}
.mobile_menu_container.loaded{
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.mobile_menu_container .mobile_menu_content{
	overflow: auto;
	max-height: 100%;
	padding-bottom: 30px;
}
.mobile_menu_container ul{
	margin: 0;
	padding: 0;
}
.mobile_menu_container ul li{
	list-style: none;
}
.mobile_menu_container ul li a{
	display: block;
	padding: 15px 20px;
	background: #1b68ff;
	color: #ffffff;
	text-decoration: none;
}
.mobile_menu_container ul li a.parent{
	padding-right: 50px;
	background: #1b68ff url("../img/arrow_left.svg") right 20px center no-repeat;
	background-size: 20px;
}
.mobile_menu_container ul li a.parent:hover{
	background: #1b68ff url("../img/arrow_right.svg") right 20px center no-repeat;
	background-size: 20px;
}
.mobile_menu_container ul li a.back{
	padding-left: 50px;
	background: #1b68ff url("../img/arrow_left.svg") left 20px center no-repeat;
	background-size: 20px;
	min-height: 50px;
}
.mobile_menu_container ul li a.back:hover{
	background: #1b68ff url("../img/arrow_left.svg") left 20px center no-repeat;
	background-size: 20px;
}
.mobile_menu_container ul li a:hover{
	background:#1b68ff;
}
.mobile_menu_container ul li ul{
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1b68ff;
	z-index: 2;
}
.mobile_menu_container ul li ul.loaded{
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

/*=========================================================================
===============================MOBILE MENU FINISH=======================*/

/*============================================================================
===============================MEDIA QURIES START=======================*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	section.work h2{
		font-size: 30px;
	}
	.work-item--text{
		text-align: center;
	}
	.work-item:last-child{
		width:auto;
	}
	.arrow-second,
	.arrow{
		display: none;
	}
	.work .row{
		grid-template-columns: 1fr;
		min-height: 300px;
	
	}
	.bottom-navigation,
	.main-navigation{
		display: none;
	}
	.header-top {
	    display: grid;
	    grid-template-columns: 1fr;
	    margin-bottom: 25px;
	}
	.header-top .search {
    	width: 90%;
	}
	.logo img{
		width:120px;
		display: block;
		margin: 0 auto;
	}
	.navigation ul {
	    padding-top: 8px;
	    display: grid;
	   
	    grid-template-columns: 1fr;
	    justify-content: center;
	    align-items: center;
	    list-style: none;
	}
	.navigation-item,
	.navigation-item:last-child,
	.navigation-item:first-child {
    
   margin: 0 auto;
   margin-bottom: 10px;
}
.right-left-bordered{
	 border: none;
}
.header-top form{
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 300px;

}
.select-wrapper{
	display: block;
	margin: 0 auto;
}
	section.slider {
    	display: none;
    }
	.cost-lg {
	    font-family: 'PF Agora Sans Pro';
	    font-size: 25px;
	    color: #000;
	}
	.users-response {
    
    padding-left: 0;
    font-size: 14px;
    margin-top: 35px;
}
	.content-block {
   
    padding-left: 8px;
    padding-right: 8px;
}

	.owl-carousel .owl-item img {
   		 margin: 0 auto;
	}
	.motel-name {
	    margin-top: 15px;
	    text-align: center;
	}
	.section-box-content .row  div h2{
		font-size: 22px;
	}
	.section-box-content .row{
		flex-wrap: wrap;
	}
	.section-box-content .btn-link{
		margin-top: 20px;
	}
	.section-box h2{
		font-size: 22px;
	}
	/*section about*/
	.left-column .item-title {
	    font-size: 30px;
	}
	.about .container .left-column {
	    font-size: 16px;
	    line-height: 1.4;
	    padding-bottom: 35px;
	}
	.btn-link{
		display: block;
		margin: 0 auto;
		margin-bottom: 25px;
	}

.btn-link-pay{
	display: block;
		margin: 0 auto;

}
	.about-sidebar{
		max-width:250px;
		padding: 25px;
		margin: 0 auto;
	}
	.about-sidebar h2{
		font-size: 22px;
	}
	.about-sidebar .line,
	.about-sidebar h2{
   		margin-bottom: 20px;
	}
	.about .container{
		grid-template-columns: 1fr;
		justify-content: center;
		position: static;
	}
	.about-sidebar{
		position: static;
	}
	.about .container::before,
	.about .container::after{
		display: none;
	}
	/*section service*/
	section.service{
		padding-top: 65px;
		padding-bottom: 65px;
		color:#4c4c4c;
		font-family: 'Geometria';
	}
	section.service h2{
		font-size: 18px;
		font-family: 'Geometria';
		font-weight: 600;
		margin-bottom: 25px;
	}
	section.service p{
		font-size: 16px;
	    line-height: 1.4;
	    font-weight: 400;
	}

	/*footer*/
	footer .container .row{
		justify-content: center;
		grid-template-columns: 1fr 1fr;

	}
	.contact-phone{
		font-size: 14px;
	}
	.footer-item{
		font-size: 12px;
		min-width:150px;
		margin-bottom: 20px;
	}
	.footer-item li a{
		font-size: 12px;
	}
	.footer-btn{
		font-size: 14px;
		padding: 10px 12px;
		width: 150px;
		margin: 0 auto;
	}
}
@media only screen and (min-device-width : 481px) and (max-device-width : 760px) {
		.bottom-navigation,
	.main-navigation{
		display: none;
	}
	.header-top {
	    display: flex;
	   justify-content: center;
	   flex-wrap: wrap;
	    margin-bottom: 25px;
	}
	.header-top .search {
    	width: 90%;
	}
	.logo img{
		width:120px;
		margin-right: 15px;
	}
	.navigation ul {
	    padding-top: 8px;
	    display: grid;
	   
	    grid-template-columns: 1fr 1fr;
	    justify-content: center;
	    align-items: center;
	    list-style: none;
	}
	.navigation-item,
	.navigation-item:last-child,
	.navigation-item:first-child {
    
   margin: 0 auto;
   margin-bottom: 10px;
}
.right-left-bordered{
	 border: none;
}
.header-top form{
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 450px;

}
.select-wrapper{
	display: block;
	margin: 0 auto;
}

	section.slider {
    	display: none;
    }
	.cost-lg {
	    font-family: 'PF Agora Sans Pro';
	    font-size: 25px;
	    color: #000;
	}
	.users-response {
    
    padding-left: 0;
    font-size: 14px;
    margin-top: 35px;
}
	.content-block {
   
    padding-left: 8px;
    padding-right: 8px;
}

	.owl-carousel .owl-item img {
   		 margin: 0 auto;
	}
	.motel-name {
	    margin-top: 15px;
	    text-align: center;
	}
	.section-box-content .row  div h2{
		font-size: 22px;
	}
	.section-box-content .row{
		flex-wrap: wrap;
	}
	.section-box-content .btn-link{
		margin-top: 20px;
	}
	.section-box h2{
		font-size: 22px;
	}
	/*section about*/
	.left-column .item-title {
	    font-size: 30px;
	}
	.about .container .left-column {
	    font-size: 16px;
	    line-height: 1.4;
	    padding-bottom: 35px;
	}
	.btn-link{
		display: block;
		margin: 0 auto;
		margin-bottom: 25px;
	}

.btn-link-pay{
	display: block;
		margin: 0 auto;

}
	.about-sidebar{
		max-width:250px;
		padding: 25px;
		margin: 0 auto;
	}
	.about-sidebar h2{
		font-size: 22px;
	}
	.about-sidebar .line,
	.about-sidebar h2{
   		margin-bottom: 20px;
	}
	.about .container{
		grid-template-columns: 1fr;
		justify-content: center;
		position: static;
	}
	.about-sidebar{
		position: static;
	}
	.about .container::before,
	.about .container::after{
		display: none;
	}
		/*section service*/
	section.service{
		padding-top: 65px;
		padding-bottom: 65px;
		color:#4c4c4c;
		font-family: 'Geometria';
	}
	section.service h2{
		font-size: 18px;
		font-family: 'Geometria';
		font-weight: 600;
		margin-bottom: 25px;
	}
	section.service p{
		font-size: 16px;
	    line-height: 1.4;
	    font-weight: 400;
	}
		section.work h2{
		font-size: 30px;
	}
	.work-item--text{
		text-align: center;
	}
	.work-item:last-child{
		width:auto;
	}
	.arrow-second,
	.arrow{
		display: none;
	}
	.work .row{
		grid-template-columns: 1fr 1fr;
		min-height: 300px;
	
	}
		/*footer*/
	footer .container .row{
		justify-content: center;
		grid-template-columns: 1fr 1fr;

	}
	.contact-phone{
		font-size: 16px;
	}
	.footer-item{
		font-size: 14px;
		min-width:200px;
		margin-bottom: 20px;
	}
	.footer-item li a{
		font-size: 16px;
	}
	.footer-btn{
		font-size: 16px;
		padding: 10px 12px;
		width: 200px;
		margin: 0 auto;
	}
}	

@media only screen and (min-device-width : 761px) and (max-device-width : 1000px){
	.bottom-navigation,
	.main-navigation{
		display: none;
	}
	.header-top {
    align-items: center;
    margin-bottom: 25px;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
	}
	.search-button{
		margin-bottom:  0;
	}
	.header-top .search {
    	width: 90%;
	}
	.logo img{
		width:120px;
	}
	.navigation ul {
	    padding-top: 8px;
	    display: grid;
	   
	    grid-template-columns: 1fr 1fr;
	    justify-content: center;
	    align-items: center;
	    list-style: none;
	}
	.navigation-item,
	.navigation-item:last-child,
	.navigation-item:first-child {
    
   margin: 0 auto;
   margin-bottom: 10px;
}
.right-left-bordered{
	 border: none;
}
	section.slider {
    	display: block;
    }


section.slider .banner-title{
	font-size: 32px;
	
}
section.slider .banner-sales{
	font-size: 44px;
	
}
section.slider .banner-sales-duration{
	font-size: 18px;
	
}
	.cost-lg {
	    font-family: 'PF Agora Sans Pro';
	    font-size: 25px;
	    color: #000;
	}
	.users-response {
    
    padding-left: 0;
    font-size: 14px;
    margin-top: 35px;
}
	.content-block {
   
    padding-left: 8px;
    padding-right: 8px;
}

	.owl-carousel .owl-item img {
   		 margin: 0 auto;
	}
	.motel-name {
	    margin-top: 15px;
	    text-align: center;
	}
	.section-box-content .row  div h2{
		font-size: 22px;
	}
	.section-box-content .row{
		flex-wrap: wrap;
	}
	.section-box-content .btn-link{
		margin-top: 20px;
	}
	.section-box h2{
		font-size: 22px;
	}
	/*section about*/
	.left-column .item-title {
	    font-size: 30px;
	}
	.about .container .left-column {
	    font-size: 16px;
	    line-height: 1.4;
	    padding-bottom: 35px;
	}
	.btn-link{
		display: block;
		margin: 0 auto;
		margin-bottom: 25px;
	}

.btn-link-pay{
	display: block;
		margin: 0 auto;

}
	.about-sidebar{
		max-width:250px;
		padding: 25px;
		margin: 0 auto;
	}
	.about-sidebar h2{
		font-size: 22px;
	}
	.about-sidebar .line,
	.about-sidebar h2{
   		margin-bottom: 20px;
	}
	.about .container{
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		position: static;
	}
	.about-sidebar{
		position: static;
	}
	.about .container::before,
	.about .container::after{
		display: none;
	}
		/*section service*/
	section.service{
		padding-top: 65px;
		padding-bottom: 65px;
		color:#4c4c4c;
		font-family: 'Geometria';
	}
	section.service h2{
		font-size: 18px;
		font-family: 'Geometria';
		font-weight: 600;
		margin-bottom: 25px;
	}
	section.service p{
		font-size: 16px;
	    line-height: 1.4;
	    font-weight: 400;
	}
		section.work h2{
		font-size: 30px;
	}
	.work-item--text{
		text-align: center;
	}
	.work-item:last-child{
		width:auto;
	}
	.arrow-second,
	.arrow{
		display: none;
	}
	.work .row{
		grid-template-columns: 1fr 1fr;
		min-height: 300px;
	
	}
		/*footer*/
	footer .container .row{
		justify-content: center;
		grid-template-columns: 1fr 1fr;

	}
	.contact-phone{
		font-size: 16px;
	}
	.footer-item{
		font-size: 14px;
		min-width:200px;
		margin-bottom: 20px;
	}
	.footer-item li a{
		font-size: 16px;
	}
	.footer-btn{
		font-size: 16px;
		padding: 10px 12px;
		width: 250px;
		margin: 0 auto;
	}
}
@media only screen and (min-device-width : 1000px) and (max-device-width : 1199px){
	.menu_container{
		display: none;
	}
	.about .container::before,
	.about .container::after{
		display: none;
	}
	.navigation-item:first-child {
		margin-left: 0;
	}
	.header-top {
        margin-bottom: 25px;
    }
    .header-top .search {
    	width: 445px;
	}
	.search-button{
		margin-bottom: 0;
	}
	.navigation-item {
    margin-right: 30px;
	}
	.main-navigation--item a {
    
    padding: 16px;
	}
	.bottom-navigation ul > .bottom-navigation--item > a {

    padding: 15px 10px;
	}
	section.slider .banner-title{
	font-size: 42px;
	
}
section.slider .banner-sales{
	font-size: 54px;
	
}
section.slider .banner-sales-duration{
	font-size: 28px;
	
}
.about-sidebar{
	position: static;
}
.btn-link {
margin-bottom: 15px;
}
}
@media only screen and (min-device-width : 1200px){
	.mobile_menu{
		display: none;
	}
}
/*============================================================================
===============================MEDIA QURIES FINISH=======================