/*==========Geometria===========*/
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria/Geometria.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria/Geometria.eot');
	src: local('Geometria'),
		url('../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria/Geometria.woff') format('woff'),
		url('../fonts/Geometria/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*==========CrimsonText===========*/
@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/CrimsonText/CrimsonText-SemiBold.eot');
    src: local('Crimson Text SemiBold'), local('CrimsonText-SemiBold'),
        url('../fonts/CrimsonText/CrimsonText-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CrimsonText/CrimsonText-SemiBold.woff2') format('woff2'),
        url('../fonts/CrimsonText/CrimsonText-SemiBold.woff') format('woff'),
        url('../fonts/CrimsonText/CrimsonText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/*==========PFAgoraSansPro===========*/
@font-face {
    font-family: 'PF Agora Sans Pro UltraBlack';
    src: url('../fonts/PFAgoraSansPro/PFAgoraSansPro-UltraBlack.eot');
    src: local('PFAgoraSansPro-UltraBlack'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-UltraBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-UltraBlack.woff2') format('woff2'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-UltraBlack.woff') format('woff'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro';
    src: url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.eot');
    src: local('PFAgoraSansPro-Medium'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.woff2') format('woff2'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.woff') format('woff'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro';
    src: url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.eot');
    src: local('PFAgoraSansPro-Regular'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.woff2') format('woff2'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.woff') format('woff'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Sans Pro';
    src: url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.eot');
    src: local('PFAgoraSansPro-Italic'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.woff2') format('woff2'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.woff') format('woff'),
        url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}