
body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}
a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

img {
	width: 100%;
}

.showcase{
	color:#fff;
	width:100%;
	height: 93vh;
	position: relative;
	background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover #999;
}
.showcase::after{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.showcase-top{
	position: relative;
	z-index: 2;
	height: 90px;
}
.showcase-top img{
	width: 170px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.showcase-content {
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 6rem;
}
.showcase-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.showcase-content--title{
	font-weight: 700;
    font-size: 80px;
    line-height: 1.1em;
    margin: 0 0 30px;
}
.showcase-content--text{
	font-weight: 400;
    font-size: 30px;
    line-height: 1.25em;
    margin: 0 0 30px;
    text-transform: uppercase;
}

/*------------buttons----------------*/
.btn{
	background: #e50914;
	text-decoration: none;
	display: inline-block;
	color:#fff;
	text-align: center;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}
.btn:hover{
	opacity: 0.9;
}
.btn-sign{
	font-size: 16px;
	padding: 7px 17px;
	position: absolute;
	right: 0;
	top:25%;
}
.btn-lg{
	padding: 1em 1.5em 1em 2em;
	text-transform: uppercase;
	letter-spacing: 1.9px;
	font-size: 30px;
}
.btn-medium{
	padding: 1em 1em 1em 1em;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.9px;
}
.right-icon{
	height: 30px;
	width:30px;
	top:40px;
	background: #fff;
}

/*--------utility text ----------*/
.text-lg{
	font-size: 30px;
	margin-bottom: 35px;
}

/*--------Svg icons----------*/
.svg-icon{
	fill: #777;
	height: 100px;
	width: 190px;
}

/*-----------container--------*/
.container{
	margin: 0 auto;
    padding-top: 20px;
    width: 80%;
}
/*-----------tabs--------*/
.tabs{
	background: #141414;
	color: #333;
    font-size: 16px;
    border-bottom: 3px solid #3d3d3d;
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
	display: none;
	opacity: 0;
}
.show {
	display: block !important;
	opacity: 1 !important;
	transition: all 1000 ease-in;
}
.tabs .container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.tabs .container > div{
	padding: 50px 0;
}
.tab-border{
	border-bottom: 4px solid #e50914;
}
.tab-item--text{
	font-size: 18px;
	font-weight: 600;
}
.tabs .container > div:hover .svg-icon{
	cursor: pointer;	
	color:#fff;
	fill:#fff;
}
.tabs .container > div:hover{
	color:#fff;
	cursor: pointer;
}
.tabs .container > div:active{
	color:#fff;
	cursor: pointer;
}
		/*------tab-1-content section-----*/
#tab-1-content .tab-1-content-inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
	color:#fff;
}
		/*------tab-2-content section-----*/
.tab-2-content-top{
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: ;
}
.tab-2-content-inner .text-lg,
.tab-2-content-inner h2
{
	color:#fff;
}
.tab-2-content-inner h2{
	font-weight: 600;
}
.tab-2-content-bottom{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

/*tab-3 section*/
.text-center{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;

}
.table {
	width: 100%;
	margin-top: 2rem;
	border-collapse: collapse;
	border-spacing: 0;
}

.table thead th {
	text-transform: uppercase;
	padding: 0.8rem;
}

.table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.table tbody tr td {
	color: #999;
	padding: 0.8rem 1.2rem;
	text-align: center;
}

.table tbody tr td:first-child {
	text-align: left;
}

.table tbody tr:nth-child(odd) {
	background: #222;
}
/*footer*/

.footer {
	padding-top: 100px;
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}
/*---media---*/
@media screen and (max-width: 960px) {
	.showcase{
		height: 70vh;
	}
	.tab-item--text{
		display: none;
	}
	.showcase-top img{
		width: 170px;
		position: absolute;
		top:30%;
		left:5%;
		transform: translate(0);
	}
	.showcase-content--title{
		font-size: 60px;
	}
	.btn-lg{
		font-size: 25px;
	}
	.footer .footer-cols {
	
	grid-template-columns: repeat(2, 1fr);
}
@media(max-width: 700px) {
	.showcase::after {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}

	#tab-1-content .tab-1-content-inner {
		grid-template-columns: 1fr;
		text-align: center;
	}

	#tab-2-content .tab-2-content-top {
		display: block;
		text-align: center;
	}

	#tab-2-content .tab-2-content-bottom {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		text-align: center;
	}

	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 3rem;
}
}